{% extends 'base.html.twig' %}

{% block title %}Betaal{% endblock %}

{% block body %}
    <h1>Betaal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ betaal.id }}</td>
            </tr>
            <tr>
                <th>UserID</th>
                <td>{{ betaal.UserID }}</td>
            </tr>
            <tr>
                <th>Soort</th>
                <td>{{ betaal.Soort }}</td>
            </tr>
            <tr>
                <th>CreditcardNR</th>
                <td>{{ betaal.CreditcardNR }}</td>
            </tr>
            <tr>
                <th>BetaalDatum</th>
                <td>{{ betaal.BetaalDatum ? betaal.BetaalDatum|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('betaal_index') }}">back to list</a>

    <a href="{{ path('betaal_edit', {'id': betaal.id}) }}">edit</a>

    {{ include('betaal/_delete_form.html.twig') }}
{% endblock %}
